<launch>

  <!-- Kobuki Base -->
  <include file="$(find deeplearning_bringup)/launch/include/minimal_kobuki.launch.xml" />

  <!-- Odometry (robot_pose_ekf) -->
  <include file="$(find deeplearning_bringup)/launch/include/robot_pose_ekf.launch.xml" />

  <!-- Microsoft Kinect -->
  <include file="$(find freenect_launch)/launch/freenect.launch" >
  <arg name="publish_tf" value="false" />
  </include>
  <param name="/camera/driver/data_skip" value="10" />

  <!-- Pointcloud To LaserScan -->
  <!-- <include file="$(find deeplearning_bringup)/launch/include/pointcloud_to_laser.launch.xml" /> -->

  <!-- Load Map Server -->
  <include file="$(find glennan_second_floor)/launchers/load_glennan.launch.xml" /> 
   
  <!-- Depthimage To LaserScan -->
  <include file="$(find deeplearning_bringup)/launch/include/depthimage_to_laser.launch.xml" /> 
   
  <!-- URDF -->
  <include file="$(find deeplearning_bringup)/launch/include/description.launch.xml" />

</launch>
